.testRideForm {
  width: 80vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 13.5rem;
  margin-left: 3rem;
  background-color: #0f0c1f8d;
  padding: 20px 0px;
  border-radius: 20px;
  flex-direction: row;
}

.testRideForm input,
.testRideForm button {
  width: 10rem;
  height: 1.6rem;
}

.testRideForm select {
  width: 10rem;
  height: 1.6rem;
}
